#af-wrapper #forum-profile .display-name,
#af-wrapper input[type="checkbox"]:checked:before {
color: #1b315d !important;
}
#af-wrapper .button-normal,
#af-wrapper .title-element,
#af-wrapper #forum-header,
#af-wrapper #profile-header .background-avatar,
#af-wrapper #profile-navigation,
#af-wrapper input[type="radio"]:checked:before {
background-color: #1b315d !important;
}
#af-wrapper input[type="radio"]:focus,
#af-wrapper input[type="checkbox"]:focus,
#af-wrapper #profile-header {
border-color: #1b315d !important;
}
#af-wrapper .read {
color: #1b315d !important;
}
#af-wrapper #read-unread .read {
background-color: #1b315d !important;
}
#af-wrapper .unread {
color: #ed2431 !important;
}
#af-wrapper #read-unread .unread {
background-color: #ed2431 !important;
}
